* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --background-color:orange;
    --main-color:white;
    --color:orange;
}
/*start section style*/
section {
    height: 500px;
    width: 300px;
    position: absolute;
    left: 40%;
    top: 20%;
    border: .1px solid var(--color);

}

/*end section style*/

/*start input style*/
.input {
    display: flex;
    align-items: center;
    height: 200px;
    width: 100%;
    border: none;
    font-size: 25px;
    border-bottom: .01px solid var(--color);
    position: relative;
}

/*end input style*/
/*start result style*/
#re {
    position: absolute;
    top: 125px;
    right: 10px;
    font-size: 30px;
    color: var(--color);
}

/*end section style*/

/*start buttons style*/
.buttons {
    height: 320px;
    width: 298px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

}

button {
    width: 25%;
    height: 59px;
    border: none;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:var(--main-color);
}

/*end buttons style*/
/*start button = style*/
#result {
    height: 59px;
    width: 20%;
    color: white;
    background-color:var(--background-color);
    border-radius: 50%;
}

.style {
    color: var(--color);
}

/*end button = style*/
/*start mobile screen style*/
@media (max-width:767px) {

    section {
        width: 100%;
        height: 100vh;
        position: absolute;
        left: 0px;
        top: 0px;
        border: none;
    }

    .input {
        height: 350px;
    }

    .buttons {
        height: 400px;
        width: 100%;
    }

    #re {
        position: absolute;
        top: 230px;
        right: 15px;
        font-size: 30px;
        color: var(--color);
    }

    #result {
        height: 70px;
    }
}

/*end mobile screen style*/
/*start tablet screen style*/
@media(min-width:768px)and (max-width:991px) {

    section {
        height: 100vh;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 0px;
        border: none;
    }

    .input {
        height: 400px;
    }

    .buttons {
        height: 500px;
        width: 100%;
    }

    button {
        font-size: 36px;
    }

    #result {
        height: 90px;
        width: 12%;
        margin-left: 35px;
    }

    #re {
        top: 300px;
        font-size: 40px;
    }
}

/*end tablet screen style*/
